{% style %}
  .ctm-reviews-slide-inner {
    background-image: url('{{ section.settings.bg-card-image | image_url: width: 1200 }}');
    background-size: cover;
    width: 304px;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 1024px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    .ctm-review-slider-heading h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }

    .ctm-reviews-slide-inner {
      max-width: 100%;
      padding: 24px 20px;
    }
  }
{% endstyle %}

<div class="ctm-review-slider-main page-width color-{{ section.settings.color_scheme }} {{ section.settings.extra_class_reviews }} section-{{ section.id }}-padding">
  <div class="scroll-trigger animate--slide-in page-width ctm-review-slider swiper">
    {% if section.settings['review-main-title'] != blank %}
      <div class="ctm-review-slider-heading text-center mb-13">
        <h2>{{ section.settings['review-main-title'] }}</h2>
      </div>
    {% endif %}
    <div class="ctm-review-slider-wrapper swiper-wrapper !h-auto justify-center flex-wrap gap-[24px]">
      {% for block in section.blocks %}
        <div class="ctm-reviews-slide-inner flex-[0_0_100%] min-768:flex-[0_0_48%] min-1280:flex-[0_0_30%] swiper-slide !h-auto p-8.5 min-h-[424px] max-990:min-h-[380px] max-768:min-h-[278px] max-768:gap-5">
          <div class="ctm-reviews-content mt-10 max-768:mt-14 max-576:mt-10">
            {{ block.settings['ctm-add-review'] }}
            {% if block.settings['enable-rating'] %}
              <div class="ctm-reviews-rating mt-5">
                {{- 'rating-star.svg' | inline_asset_content -}}
              </div>
            {% endif %}
          </div>
          <div class="ctm-reviews-cust-info flex items-center gap-5">
            <div class="ctm-reviews-cust-img">
              <img
                class="rounded-[50%]"
                src="{{ block.settings.customer_image | image_url: width: 57, height: 57 }}"
                alt="{{ block.settings.customer_image.alt | escape }}"
                width="auto"
                height="auto"
                loading="lazy"
              >
            </div>
            <div class="ctm-reviews-cust-name">
              {{ block.settings.customer_name }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>

    {% if section.settings['review-btn-link'] != blank %}
      <div class="ctm-review-cta justify-center flex mt-12 max-990:mt-16">
        <a
          href="{{ section.settings.review-btn-link }}"
          class="ctm-review-btn ctm-button button-svg button-green gap-10 max-576:!px-8 min-990:px-[40px]"
        >
          {{ section.settings['review-btn-title'] }}
          {{- 'right-arrow-btn.svg' | inline_asset_content -}}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Custom Review Flex",
  "class": "ctm-review-slider-hero",
  "settings": [
    {
      "type": "text",
      "label": "Extra Class",
      "id": "extra_class_reviews"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-4"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "review-main-title"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg-card-image"
    },
    {
      "type": "text",
      "label": "Button Title",
      "id": "review-btn-title"
    },
    {
      "type": "url",
      "label": "Button Link",
      "id": "review-btn-link"
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "Tablet Padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "richtext",
          "label": "Review",
          "id": "ctm-add-review"
        },
        {
          "type": "checkbox",
          "label": "Enable Rating ",
          "id": "enable-rating",
          "default": true
        },
        {
          "type": "image_picker",
          "label": "Customer Image",
          "id": "customer_image"
        },
        {
          "type": "richtext",
          "label": "Customer Name",
          "id": "customer_name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Review Flex"
    }
  ]
}
{% endschema %}
