<div class="dual-audience-section">
  <div class="dual-audience-grid grid-cols-1 min-768:grid-cols-2">
    <!-- LEFT CARD -->
    <div
      class="dual-card dual-card--left relative"
    >
      <div class="dual-card-bg dual-card-left-bg absolute w-full h-full top-0 left-0 pointer-events-none">
        {% if section.settings.bg_image_left != blank %}
          <img
            src="{{ section.settings.bg_image_left | image_url }}"
            alt="bg-img"
            class="max-990:hidden w-full h-full object-cover object-top"
            loading="lazy"
            width="auto"
            height="auto"
          >
        {% endif %}
        {% if section.settings.bg_image_left_mobile != blank %}
          <img
            src="{{ section.settings.bg_image_left_mobile | image_url }}"
            alt="bg-img"
            class="min-990:hidden w-full h-full object-cover object-top"
            loading="lazy"
            width="auto"
            height="auto"
          >
        {% endif %}
      </div>
      <div class="dual-card__inner relative z-1 px-[28px] min-990:max-w-[576px] min-990:mx-auto min-990:pt-[303px] min-990:pb-[100px]">
        <div class="dual-card__inner-start px-[28px] pt-[26px] pb-[66px] bg-white rounded-[22px]">
          <div class="dual-card__inner-above px-[36px] pt-[26px] pb-[38px] rounded-[25px]">
            {% if section.settings.top_label_left != blank %}
              <span class="dual-card__tag">{{ section.settings.top_label_left }}</span>
            {% endif %}

            {% if section.settings.heading_left != blank %}
              <h2 class="dual-card__heading">{{ section.settings.heading_left }}</h2>
            {% endif %}

            {% if section.settings.description_left != blank %}
              <p class="dual-card__description">
                {{ section.settings.description_left }}
              </p>
            {% endif %}
          </div>

          {% for block in section.blocks %}
            {% if block.settings.position == 'left' %}
              <div class="dual-feature" {{ block.shopify_attributes }}>
                {% if block.settings.image != blank %}
                  <img
                    src="{{ block.settings.image | image_url: width: 80 }}"
                    alt="{{ block.settings.text | escape }}"
                    loading="lazy"
                    width="auto"
                    height="auto"
                  >
                {% endif %}
                {% if block.settings.text != blank %}
                  <span>{{ block.settings.text }}</span>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}

          {% if section.settings.button_text_left != blank %}
            <a
              href="{{ section.settings.button_url_left }}"
              class="dual-card__button"
            >
              {{ section.settings.button_text_left }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- RIGHT CARD -->
    <div
      class="dual-card dual-card--right relative"
    >
      <div class="dual-card-bg dual-card-right-bg absolute w-full h-full top-0 left-0 pointer-events-none">
        {% if section.settings.bg_image_right != blank %}
          <img
            src="{{ section.settings.bg_image_right | image_url }}"
            alt="bg-img"
            class="max-990:hidden w-full h-full object-cover object-top"
            loading="lazy"
            width="auto"
            height="auto"
          >
        {% endif %}
        {% if section.settings.bg_image_right_mobile != blank %}
          <img
            src="{{ section.settings.bg_image_right_mobile | image_url }}"
            alt="bg-img"
            class="min-990:hidden w-full h-full object-cover object-top"
            loading="lazy"
            width="auto"
            height="auto"
          >
        {% endif %}
      </div>
      <div class="dual-card__inner relative z-1 px-[28px] min-990:max-w-[576px] min-990:mx-auto min-990:pt-[303px] min-990:pb-[100px]">
        <div class="dual-card__inner-start px-[28px] pt-[26px] pb-[66px] bg-white rounded-[22px]">
          <div class="dual-card__inner-above px-[36px] pt-[26px] pb-[38px] rounded-[25px]">
            {% if section.settings.top_label_right != blank %}
              <span class="dual-card__tag">{{ section.settings.top_label_right }}</span>
            {% endif %}

            {% if section.settings.heading_right != blank %}
              <h2 class="dual-card__heading">{{ section.settings.heading_right }}</h2>
            {% endif %}

            {% if section.settings.description_right != blank %}
              <p class="dual-card__description">
                {{ section.settings.description_right }}
              </p>
            {% endif %}
          </div>

          {% for block in section.blocks %}
            {% if block.settings.position == 'right' %}
              <div class="dual-feature" {{ block.shopify_attributes }}>
                {% if block.settings.image != blank %}
                  <img
                    src="{{ block.settings.image | image_url: width: 80 }}"
                    alt="{{ block.settings.text | escape }}"
                    loading="lazy"
                    width="auto"
                    height="auto"
                  >
                {% endif %}
                {% if block.settings.text != blank %}
                  <span>{{ block.settings.text }}</span>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}

          {% if section.settings.button_text_right != blank %}
            <a
              href="{{ section.settings.button_url_right }}"
              class="dual-card__button"
            >
              {{ section.settings.button_text_right }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Dual Audience Cards",
  "settings": [
    {
      "type": "header",
      "content": "Left Side Card"
    },
    {
      "type": "image_picker",
      "id": "bg_image_left",
      "label": "Left background image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_left_mobile",
      "label": "Left background image mobile"
    },
    {
      "type": "text",
      "id": "top_label_left",
      "label": "Left top label"
    },
    {
      "type": "text",
      "id": "heading_left",
      "label": "Left heading"
    },
    {
      "type": "textarea",
      "id": "description_left",
      "label": "Left description"
    },
    {
      "type": "text",
      "id": "button_text_left",
      "label": "Left button text"
    },
    {
      "type": "url",
      "id": "button_url_left",
      "label": "Left button URL"
    },
    {
      "type": "header",
      "content": "Right Side Card"
    },
    {
      "type": "image_picker",
      "id": "bg_image_right",
      "label": "Right background image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_right_mobile",
      "label": "Right background image mobile"
    },
    {
      "type": "text",
      "id": "top_label_right",
      "label": "Right top label"
    },
    {
      "type": "text",
      "id": "heading_right",
      "label": "Right heading"
    },
    {
      "type": "textarea",
      "id": "description_right",
      "label": "Right description"
    },
    {
      "type": "text",
      "id": "button_text_right",
      "label": "Right button text"
    },
    {
      "type": "url",
      "id": "button_url_right",
      "label": "Right button URL"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Image with text",
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Show in",
          "options": [
            { "value": "left", "label": "Left card" },
            { "value": "right", "label": "Right card" }
          ],
          "default": "left"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Dual Audience Cards"
    }
  ]
}
{% endschema %}
