{% style %}
  .ctm-hero-platform-main .ctm-hero-inner {
    {% if section.settings.bg_image != blank %}
      background-image: url('{{ section.settings.bg_image | image_url: width: 1200 }}');
    {% endif %}
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#FFFFFF;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 1024px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }

  /* Video Styles */
  .ctm-hero-video {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  }
  .ctm-hero-media {
    position: relative;
  }
  .ctm-hero-media.video-playing video {
    display: block !important;
  }
  .ctm-hero-media.image-showing img {
    display: block !important;
  }
{% endstyle %}

<div class="ctm-hero-platform-main scroll-trigger animate--slide-in {{ section.settings.extra-class }} section-{{ section.id }}-padding">
  <div class="ctm-hero-inner w-full flex max-[1025px]:flex-col items-center justify-center max-[1025px]:gap-[20px] gap-[100px]">
    <div class="ctm-hero-media {% if section.settings.media_type == 'video' %}video-playing{% else %}image-showing{% endif %}">
      {% if section.settings.media_type == 'video' and section.settings.video != blank %}
        <div class="ctm-hero-left ctm-hero-side-img-main">
          {{
            section.settings.video
            | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'ctm-hero-video'
          }}
        </div>
      {% elsif section.settings.media_type == 'image' and section.settings.phone_image_1 != blank %}
        <div class="ctm-hero-left ctm-hero-side-img-main">
          {{
            section.settings.phone_image_1
            | image_url: width: 500
            | image_tag: loading: 'lazy', class: 'ctm-hero-image'
          }}
        </div>
      {% endif %}

      {% if section.settings.media_type == 'image' and section.settings.phone_image_2 != blank %}
        <div class="ctm-hero-phone ctm-hero-phone-2">
          {{
            section.settings.phone_image_2
            | image_url: width: 500
            | image_tag: loading: 'lazy', class: 'ctm-hero-image'
          }}
        </div>
      {% endif %}
    </div>
    <div class="w-full min-[1560px]:pr-[130px] min-1440:relative min-1440:top-[-20px]">
      <div class="ctm-hero-content max-990:mt-[30px] max-990:mb-[20px]">
        {% if section.settings.eyebrow != blank %}
          <p class="ctm-hero-eyebrow  h5 mb-[10px] 576:mb-[15px] max-576:text-center scroll-trigger animate--slide-in">
            {{ section.settings.eyebrow | upcase }}
          </p>
        {% endif %}

        {% if section.settings.heading != blank %}
          <h1 class="ctm-hero-heading h2 max-576:text-center scroll-trigger animate--slide-in">
            {{ section.settings.heading }}
          </h1>
        {% endif %}

        {% if section.settings.subheading != blank %}
          <p class="ctm-hero-subheading ctm-h6 max-576:text-center max-576:pt-[28px] pt-[6px] scroll-trigger animate--slide-in">
            {{ section.settings.subheading }}
          </p>
        {% endif %}

        {% if section.blocks.size > 0 %}
          <ul class="ctm-hero-features">
            {% for block in section.blocks %}
              {% if block.type == 'feature' %}
                <li
                  class="ctm-hero-feature flex items-center gap-[25px] scroll-trigger animate--slide-in"
                  {{ block.shopify_attributes }}
                >
                  {% if block.settings.icon != blank %}
                    <span class="ctm-feature-icon">
                      {{ block.settings.icon | image_url: width: 40 | image_tag: loading: 'lazy' }}
                    </span>
                  {% endif %}
                  <span class="ctm-feature-text font-semibold text-[15px] lg:text-[18px] min-1582:max-w-[500px]">
                    {{ block.settings.text }}
                  </span>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}

        <div class="ctm-hero-buttons flex-wrap">
          {% if section.settings.primary_label != blank %}
            <a
              href="{{ section.settings.primary_link }}"
              class="btn btn-primary ctm-button button-green max-1440:px-[50px] scroll-trigger animate--slide-in"
            >
              {{ section.settings.primary_label }}
            </a>
          {% endif %}

          {% if section.settings.secondary_label != blank %}
            <a
              href="{{ section.settings.secondary_link }}"
              class="btn btn-secondary ctm-button button-white-outline max-1440:px-[50px] scroll-trigger animate--slide-in"
            >
              {{ section.settings.secondary_label }}
            </a>
          {% endif %}
        </div>

        {% if section.settings.stat_text != blank %}
          <div class="ctm-hero-trial flex justify-center items-center pt-[16px] gap-[8px] 1024:max-w-[700px] scroll-trigger animate--slide-in">
            {% if section.settings.stat_icon != blank %}
              {{ section.settings.stat_icon | image_url: width: 21 | image_tag: loading: 'lazy' }}
            {% endif %}
            <span class="ctm-hero-trial-text text-green0 font-bold leading-normal">
              {{- section.settings.stat_text -}}
            </span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Hero Platform",
  "settings": [
    {
      "type": "text",
      "id": "extra-class",
      "label": "Extra Class"
    },
    {
      "type": "select",
      "id": "media_type",
      "label": "Media Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Hero Video"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Background overlay opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 70
    },
    {
      "type": "image_picker",
      "id": "phone_image_1",
      "label": "Phone image (front)"
    },
    {
      "type": "image_picker",
      "id": "phone_image_2",
      "label": "Phone image (back)"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Top label",
      "default": "LIVE GOLF COACHING FROM ANYWHERE"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Main heading"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Sub heading"
    },
    {
      "type": "text",
      "id": "primary_label",
      "label": "Primary button label",
      "default": "Start Free Trial"
    },
    {
      "type": "url",
      "id": "primary_link",
      "label": "Primary button link"
    },
    {
      "type": "text",
      "id": "secondary_label",
      "label": "Secondary button label",
      "default": "Schedule a Demo"
    },
    {
      "type": "url",
      "id": "secondary_link",
      "label": "Secondary button link"
    },
    {
      "type": "image_picker",
      "id": "stat_icon",
      "label": "Stat icon"
    },
    {
      "type": "text",
      "id": "stat_text",
      "label": "Stat text",
      "default": "20,000+ Hours of Coaching Delivered"
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "Tablet Padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Feature icon"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Feature text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Platform"
    }
  ]
}
{% endschema %}
