<section class="trusted-coaches relative color-{{ section.settings.color_scheme }}">
  <div class="rusted-coaches-inside">
    <div class="trusted-coaches-details max-990:pt-[46px] max-990:pb-[38px] px-[28px] text-center min-990:absolute min-990:top-[50px] min-1440:top-[96px] min-990:left-50p min-990:translate-x-50mp min-990:z-1 min-990:w-full min-990:max-w-[925px]">
      {% if section.settings.heading != blank %}
        <h2 class="trusted-coaches__heading mb-[11px] min-990:mb-[18px] scroll-trigger animate--slide-in">
          {{ section.settings.heading }}
        </h2>
      {% endif %}

      {% if section.settings.subheading != blank %}
        <div class="trusted-coaches__subheading text-h6 font-medium min-990:font-semibold scroll-trigger animate--slide-in">
          {{ section.settings.subheading }}
        </div>
      {% endif %}
    </div>

    <div class="trusted-coaches__grid flex flex-wrap">
      {% for block in section.blocks %}
        <div
          class="trusted-coaches__card relative flex-[0_0_50%] min-768:flex-[0_0_33.33%] min-990:flex-[0_0_20%] min-990:flex min-990:flex-col min-990:justify-end min-990:pt-[87px] scroll-trigger animate--slide-in"
          {{ block.shopify_attributes }}
        >
          {% if block.settings.player_image != blank %}
            <img
              src="{{ block.settings.player_image | image_url }}"
              alt="{{ block.settings.player_name | escape }}"
              class="trusted-coaches__image w-full h-auto object-cover max-990:aspect-[0.94/1] max-990:hidden scroll-trigger animate--slide-in"
              loading="lazy"
              width="auto"
              height="auto"
            >
          {% endif %}
          {% if block.settings.player_image != blank %}
            <img
              src="{{ block.settings.player_image_mobile | image_url }}"
              alt="{{ block.settings.player_name | escape }}"
              class="trusted-coaches__image w-full h-auto object-cover max-990:aspect-[0.94/1] min-990:hidden scroll-trigger animate--slide-in"
              loading="lazy"
              width="auto"
              height="auto"
            >
          {% endif %}

          {% if block.settings.player_name != blank %}
            <div class="trusted-coaches__overlay">
              <div class="trusted-coaches__overlay-inside">
                <div class="trusted-coaches__name scroll-trigger animate--slide-in">
                  {{ block.settings.player_name }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Trusted by Coaches",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Schema",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Trusted by Top Coaches"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "From PGA Tour coaches to rising instructors – trusted by the best to deliver world-class instruction."
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 20,
      "max": 120,
      "step": 4,
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 20,
      "max": 120,
      "step": 4,
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "player",
      "name": "Player",
      "settings": [
        {
          "type": "image_picker",
          "id": "player_image",
          "label": "Player image"
        },
        {
          "type": "image_picker",
          "id": "player_image_mobile",
          "label": "Player image"
        },
        {
          "type": "richtext",
          "id": "player_name",
          "label": "Player name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trusted by Coaches",
      "blocks": [
        { "type": "player" },
        { "type": "player" },
        { "type": "player" },
        { "type": "player" },
        { "type": "player" }
      ]
    }
  ]
}
{% endschema %}
