{% style %}
  .ctn-golf-live-info-main {
    background-image: url('{{ section.settings.bg-golf-image | image_url: width: 1200 }}');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 1024px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
{% endstyle %}
<div class="ctn-golf-live-info-main {{ section.settings.extra_class }} color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding !py-[50px] min-990:!py-[80px]">
  <div class="ctn-golf-live-info-inner px-[28px] max-w-[1148px] max-w-[1148px] mx-auto">
    <div class="ctn-golf-live-title text-center">
      <h2 class="mb-[29px] min-990:mb-[56px]">{{ section.settings['main-golf-live-title'] }}</h2>
    </div>
    <div class="ctn-golf-live-body">
      <div class="ctn-golf-comparison-section">
        <div class="ctn-golf-comparison-wrapper">
          <div class="ctn-golf-left-card ctn-golf-card-title">
            <div class="flex items-end gap-[12px] min-990:gap-[39px]">
              <div class="ctm-left-heading-icon flex justify-center items-center flex-[0_0_calc(33.33%_-_8px)] min-990:flex-[0_0_calc(33.33%_-_26px)]">
                {% if section.settings['golf-left-icon'] != blank %}
                  <div class="ctm-left-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-left-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-left-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.left_title != blank %}
                  <div class="ctm-left-heading">
                    <h3>{{ section.settings.left_title }}</h3>
                  </div>
                {% endif %}
              </div>
              <div class="ctm-center-heading-icon flex flex-col min-990:flex-row gap-x-[12px] gap-y-[6px] items-center flex-[0_0_calc(33.33%_-_8px)] min-990:flex-[0_0_calc(33.33%_-_26px)] min-990:pl-[45px] pt-[14px] pb-[8px] min-990:pt-[34px] min-990:pb-[27px] bg-green0 rounded-t-[22px]">
                {% if section.settings['golf-center-icon'] != blank %}
                  <div class="ctm-center-icon">
                    <img
                      class="w-[41px] min-990:w-[51px] h-auto aspect-square"
                      src="{{ section.settings.golf-center-icon | image_url }}"
                      alt="{{ section.settings.golf-center-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.center_title != blank %}
                  <div class="ctm-center-heading">
                    <h3 class="font-semibold text-[16px] leading-[140%] tracking-[0.16px] min-990:text-[22px] min-990:tracking-[0.22px]">
                      {{ section.settings.center_title }}
                    </h3>
                  </div>
                {% endif %}
              </div>
              <div class="ctm-right-heading-icon flex items-center max-990:justify-center flex-[0_0_calc(33.33%_-_8px)] min-990:flex-[0_0_calc(33.33%_-_26px)] min-990:pl-[20px] pt-[21px] pb-[16px] min-990:py-[30px] min-990:bg-[#DDD] min-990:rounded-t-[22px]">
                {% if section.settings['golf-right-icon'] != blank %}
                  <div class="ctm-right-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-right-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-right-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.right_title != blank %}
                  <div class="ctm-center-heading">
                    <h3 class="font-semibold text-[16px] leading-[110%] tracking-[0.16px] min-990:text-[19px] min-990:tracking-[0.19px] min-990:text-black max-990:text-center">
                      {{ section.settings.right_title }}
                    </h3>
                  </div>
                {% endif %}
              </div>
            </div>

            <ul class="ctn-golf-left-list">
              {% for block in section.blocks %}
                <li class="ctn-golf-left-item flex gap-[12px] min-990:gap-[39px] group relative after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[1px] after:border-b-[1px] after:border-dashed after:border-[rgba(255,_255,_255,_0.3)] last:after:content-none">
                  <div class="flex-[0_0_calc(33.33%_-_8px)] min-990:flex-[0_0_calc(33.33%_-_26px)] py-[14px]">
                    {% if block.settings.left_checked %}
                      <span class="ctn-golf-left-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span class="text-[16px] leading-120p tracking-[0.16px] min-990:text-[20px] min-990:tracking-[0.20px] max-w-[192px] block">
                      {{- block.settings.left_text -}}
                    </span>
                  </div>
                  <div class="ctn-golf-center-item flex-[0_0_calc(33.33%_-_8px)] min-990:flex-[0_0_calc(33.33%_-_26px)] px-[6px] min-990:px-[20px] bg-[#00511C] group-last:pb-[6px] group-last:min-990:pb-[20px] group-last:rounded-b-[22px] relative z-1">
                    <div class="h-full flex items-center gap-x-[16px] gap-y-[8px] flex-col min-990:flex-row py-[14px] px-[12px] min-1400:px-[22px] group-odd:bg-[#EFEFEF] group-even:bg-white group-first:rounded-t-[22px] group-last:rounded-b-[22px]">
                      {% if block.settings.center_checked %}
                        <span class="ctn-golf-center-icon max-990:*:w-[20px] max-990:*:h-[20px]">
                          {{ 'golf-check-icon.svg' | inline_asset_content }}
                        </span>
                      {% endif %}
                      <span class="ctn-golf-center-item-text block text-[15px] leading-120p tracking-[0.15px] min-990:text-[18px] min-990:tracking-[0.18px] font-semibold text-black max-990:text-center">
                        {{- block.settings.center_text -}}
                      </span>
                    </div>
                  </div>
                  <div class="ctn-golf-right-item flex-[0_0_calc(33.33%_-_8px)] min-990:flex-[0_0_calc(33.33%_-_26px)] min-990:px-[20px] min-990:bg-[#DDDDDD] group-last:min-990:pb-[20px] group-last:rounded-b-[22px] relative z-1">
                    <div class="h-full flex max-990:justify-center items-center py-[14px] px-[10px] min-1400:px-[25px] group-odd:bg-[#EFEFEF] group-even:bg-white group-first:rounded-t-[22px] group-last:rounded-b-[22px]">
                      {% if block.settings.right_checked %}
                        <span class="ctn-golf-right-icon">
                          {{ 'golf-check-icon.svg' | inline_asset_content }}
                        </span>
                      {% endif %}
                      <span class="ctn-golf-right-item-text text-black max-990:text-center">
                        {{- block.settings.right_text -}}
                      </span>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% comment %}
            <div class="ctn-golf-center-card ctn-golf-card-title">
              <div class="ctm-center-heading-icon flex justify-center items-center">
                {% if section.settings['golf-center-icon'] != blank %}
                  <div class="ctm-center-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-center-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-center-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.center_title != blank %}
                  <div class="ctm-center-heading">
                    <h3>{{ section.settings.center_title }}</h3>
                  </div>
                {% endif %}
              </div>

              <ul class="ctn-golf-center-list">
                {% for block in section.blocks %}
                  <li class="ctn-golf-center-item flex">
                    {% if block.settings.center_checked %}
                      <span class="ctn-golf-center-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span>{{ block.settings.center_text }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="ctn-golf-right-card ctn-golf-card-title">
              <div class="ctm-right-heading-icon flex justify-center items-center">
                {% if section.settings['golf-right-icon'] != blank %}
                  <div class="ctm-right-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-right-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-right-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.right_title != blank %}
                  <div class="ctm-center-heading">
                    <h3>{{ section.settings.right_title }}</h3>
                  </div>
                {% endif %}
              </div>

              <ul class="ctn-golf-right-list">
                {% for block in section.blocks %}
                  <li class="ctn-golf-right-item">
                    {% if block.settings.right_checked %}
                      <span class="ctn-golf-right-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span>{{ block.settings.right_text }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="ctn-golf-live-footer mt-[31px] min-990:mt-[67px]">
      <div class="ctn-golf-live-subtitle text-center text-[18px] min-768:text-[24px] min-1400:text-[29px] leading-120p tracking-[0.18px] min-768:tracking-[0.24px] min-1400:tracking-[0.29px] mb-[12px]">
        <p>{{ section.settings['main-golf-live-subtitle'] }}</p>
      </div>
      <div class="ctn-golf-live-description text-center font-medium min-1440:max-w-[658px] mx-auto">
        <p>{{ section.settings['main-golf-description'] }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Why Golf Live",
  "class": "why-golf-live-main",
  "settings": [
    {
      "type": "text",
      "label": "Extra Class",
      "id": "extra_class"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-4"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg-golf-image"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "main-golf-live-title"
    },
    {
      "type": "image_picker",
      "label": "Left Title Image",
      "id": "golf-left-icon"
    },
    {
      "type": "text",
      "id": "left_title",
      "label": "Left card title"
    },
    {
      "type": "image_picker",
      "label": "Center Title Image",
      "id": "golf-center-icon"
    },
    {
      "type": "text",
      "id": "center_title",
      "label": "Center card title",
      "default": "Golf Live"
    },
    {
      "type": "image_picker",
      "label": "Right Title Image",
      "id": "golf-right-icon"
    },
    {
      "type": "text",
      "id": "right_title",
      "label": "Right card title",
      "default": "Your Current Setup"
    },
    {
      "type": "text",
      "label": "SubTitle",
      "id": "main-golf-live-subtitle"
    },
    {
      "type": "richtext",
      "label": "Description",
      "id": "main-golf-description"
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "Tablet Padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "feature_row",
      "name": "Feature row",
      "settings": [
        {
          "type": "checkbox",
          "id": "left_checked",
          "label": "Show check icon on left",
          "default": true
        },
        {
          "type": "text",
          "id": "left_text",
          "label": "Left feature text",
          "default": "Built-in"
        },
        {
          "type": "checkbox",
          "id": "center_checked",
          "label": "Show check icon on Center",
          "default": true
        },
        {
          "type": "text",
          "id": "center_text",
          "label": "Center feature text",
          "default": "Built-in"
        },
        {
          "type": "checkbox",
          "id": "right_checked",
          "label": "Show check icon on Right",
          "default": true
        },
        {
          "type": "text",
          "id": "right_text",
          "label": "Right feature text",
          "default": "Zoom (no replay)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Why Golf Live"
    }
  ]
}
{% endschema %}
