{% style %}
  .ctn-golf-live-info-main {
    background-image: url('{{ section.settings.bg-golf-image | image_url: width: 1200 }}');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 1024px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tablet }}px;
      padding-bottom: {{ section.settings.padding_bottom_tablet }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
{% endstyle %}
<div class="ctn-golf-live-info-main {{ section.settings.extra_class }} color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="ctn-golf-live-info-inner px-[28px] max-w-[1148px] mx-auto">
    <div class="ctn-golf-live-title text-center">
      <h2 class="mb-[29px] min-990:mb-[56px]">{{ section.settings['main-golf-live-title'] }}</h2>
    </div>
    <div class="ctn-golf-live-body">
      <div class="ctn-golf-comparison-section">
        <div class="ctn-golf-comparison-wrapper">
          <div class="ctn-golf-left-card ctn-golf-card-title">
            <div class="flex gap-[12px] min-990:gap-[39px]">
              <div class="ctm-left-heading-icon flex justify-center items-center flex-[0_0_calc(33.33%_-_4px)] min-990:flex-[0_0_calc(33.33%_-_13px)]">
                {% if section.settings['golf-left-icon'] != blank %}
                  <div class="ctm-left-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-left-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-left-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.left_title != blank %}
                  <div class="ctm-left-heading">
                    <h3>{{ section.settings.left_title }}</h3>
                  </div>
                {% endif %}
              </div>
              <div class="ctm-center-heading-icon flex flex-col min-990:flex-row gap-x-[12px] gap-y-[6px] items-center flex-[0_0_calc(33.33%_-_4px)] min-990:flex-[0_0_calc(33.33%_-_13px)] min-990:pl-[26px]">
                {% if section.settings['golf-center-icon'] != blank %}
                  <div class="ctm-center-icon">
                    <img
                      class="w-[41px] min-990:w-[51px] h-auto aspect-square"
                      src="{{ section.settings.golf-center-icon | image_url }}"
                      alt="{{ section.settings.golf-center-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.center_title != blank %}
                  <div class="ctm-center-heading">
                    <h3 class="font-semibold text-[16px] leading-[140%] tracking-[0.16px] min-990:text-[22px] min-990:tracking-[0.22px]">
                      {{ section.settings.center_title }}
                    </h3>
                  </div>
                {% endif %}
              </div>
              <div class="ctm-right-heading-icon flex justify-center items-center flex-[0_0_calc(33.33%_-_4px)] min-990:flex-[0_0_calc(33.33%_-_13px)]">
                {% if section.settings['golf-right-icon'] != blank %}
                  <div class="ctm-right-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-right-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-right-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.right_title != blank %}
                  <div class="ctm-center-heading">
                    <h3 class="font-semibold text-[16px] leading-[110%] tracking-[0.16px] min-990:text-[19px] min-990:tracking-[0.19px]">
                      {{ section.settings.right_title }}
                    </h3>
                  </div>
                {% endif %}
              </div>
            </div>

            <ul class="ctn-golf-left-list">
              {% for block in section.blocks %}
                <li class="ctn-golf-left-item flex gap-[12px] min-990:gap-[39px]">
                  <div class="flex-[0_0_calc(33.33%_-_4px)] min-990:flex-[0_0_calc(33.33%_-_13px)]">
                    {% if block.settings.left_checked %}
                      <span class="ctn-golf-left-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span>{{ block.settings.left_text }}</span>
                  </div>
                  <div class="ctn-golf-center-item flex flex-[0_0_calc(33.33%_-_4px)] min-990:flex-[0_0_calc(33.33%_-_13px)]">
                    {% if block.settings.center_checked %}
                      <span class="ctn-golf-center-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span>{{ block.settings.center_text }}</span>
                  </div>
                  <div class="ctn-golf-right-item flex-[0_0_calc(33.33%_-_4px)] min-990:flex-[0_0_calc(33.33%_-_13px)]">
                    {% if block.settings.right_checked %}
                      <span class="ctn-golf-right-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span>{{ block.settings.right_text }}</span>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% comment %}
            <div class="ctn-golf-center-card ctn-golf-card-title">
              <div class="ctm-center-heading-icon flex justify-center items-center">
                {% if section.settings['golf-center-icon'] != blank %}
                  <div class="ctm-center-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-center-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-center-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.center_title != blank %}
                  <div class="ctm-center-heading">
                    <h3>{{ section.settings.center_title }}</h3>
                  </div>
                {% endif %}
              </div>

              <ul class="ctn-golf-center-list">
                {% for block in section.blocks %}
                  <li class="ctn-golf-center-item flex">
                    {% if block.settings.center_checked %}
                      <span class="ctn-golf-center-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span>{{ block.settings.center_text }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="ctn-golf-right-card ctn-golf-card-title">
              <div class="ctm-right-heading-icon flex justify-center items-center">
                {% if section.settings['golf-right-icon'] != blank %}
                  <div class="ctm-right-icon">
                    <img
                      class="rounded-[50%]"
                      src="{{ section.settings.golf-right-icon | image_url: width: 51, height: 51 }}"
                      alt="{{ section.settings.golf-right-icon.alt | escape }}"
                      width="auto"
                      height="auto"
                      loading="lazy"
                    >
                  </div>
                {% endif %}
                {% if section.settings.right_title != blank %}
                  <div class="ctm-center-heading">
                    <h3>{{ section.settings.right_title }}</h3>
                  </div>
                {% endif %}
              </div>

              <ul class="ctn-golf-right-list">
                {% for block in section.blocks %}
                  <li class="ctn-golf-right-item">
                    {% if block.settings.right_checked %}
                      <span class="ctn-golf-right-icon">
                        {{ 'golf-check-icon.svg' | inline_asset_content }}
                      </span>
                    {% endif %}
                    <span>{{ block.settings.right_text }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="ctn-golf-live-footer">
      <div class="ctn-golf-live-subtitle text-center">
        <h3>{{ section.settings['main-golf-live-subtitle'] }}</h3>
      </div>
      <div class="ctn-golf-live-description text-center">
        <h3>{{ section.settings['main-golf-description'] }}</h3>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Why Golf Live",
  "class": "why-golf-live-main",
  "settings": [
    {
      "type": "text",
      "label": "Extra Class",
      "id": "extra_class"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-4"
    },
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg-golf-image"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "main-golf-live-title"
    },
    {
      "type": "image_picker",
      "label": "Left Title Image",
      "id": "golf-left-icon"
    },
    {
      "type": "text",
      "id": "left_title",
      "label": "Left card title"
    },
    {
      "type": "image_picker",
      "label": "Center Title Image",
      "id": "golf-center-icon"
    },
    {
      "type": "text",
      "id": "center_title",
      "label": "Center card title",
      "default": "Golf Live"
    },
    {
      "type": "image_picker",
      "label": "Right Title Image",
      "id": "golf-right-icon"
    },
    {
      "type": "text",
      "id": "right_title",
      "label": "Right card title",
      "default": "Your Current Setup"
    },
    {
      "type": "text",
      "label": "SubTitle",
      "id": "main-golf-live-subtitle"
    },
    {
      "type": "richtext",
      "label": "Description",
      "id": "main-golf-description"
    },
    {
      "type": "header",
      "content": "Desktop Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "Tablet Padding"
    },
    {
      "type": "range",
      "id": "padding_top_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_tablet",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "feature_row",
      "name": "Feature row",
      "settings": [
        {
          "type": "checkbox",
          "id": "left_checked",
          "label": "Show check icon on left",
          "default": true
        },
        {
          "type": "text",
          "id": "left_text",
          "label": "Left feature text",
          "default": "Built-in"
        },
        {
          "type": "checkbox",
          "id": "center_checked",
          "label": "Show check icon on Center",
          "default": true
        },
        {
          "type": "text",
          "id": "center_text",
          "label": "Center feature text",
          "default": "Built-in"
        },
        {
          "type": "checkbox",
          "id": "right_checked",
          "label": "Show check icon on Right",
          "default": true
        },
        {
          "type": "text",
          "id": "right_text",
          "label": "Right feature text",
          "default": "Zoom (no replay)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Why Golf Live"
    }
  ]
}
{% endschema %}
